<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Mi portafolio</h1>
    <p class="lead text-muted">¿Necesitas una intranet?¿Tal vez un desarrollo ecommerce especifico? Una amplia gama de proyectos para resolver tus necesidades</p>
    <p>
      <%= link_to 'Conocer mas sobre mi', about_me_path, class: 'btn btn-outline-primary' %>
      <%= link_to 'Mi Blog', blogs_path, class: 'btn btn-outline-secondary' %>
    </p>
  </div>
</section>