<div class="app-card-container">
  <div class="card">
    <h1>Sobre mi</h1>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile_image.jpg", width: 250, alt: 'Profile photo', class: 'profile-img' %>

        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div 
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
    
        <p>
          Hola! Mi nombre es Manuel, soy un desarrollador web mexicano
        </p>
        <p>
          Me apasionan los productos intuitivos y las interfaces visuales meticulosas. Me gusta analizar el contexto y los comportamientos de los usuarios para crear las mejores soluciones para cada proyecto. También he trabajado como desarrollador de aplicaciones para usuario en algunos proyectos, especialmente cuidando los estilos aplicados y la integración con complementos interactivos.
        </p>
        <p>
          Cuando no estoy diseñando o pensando en el diseño, seguramente me encontrarás jugando videojuegos, ​​sentado en una sala de cine o viendo algunas series en Netflix.
        </p>
        <p>
          Ademas del desarrollo web tengo experiencia en el area de IT ya que en el transcurso de los años mi trabajo lo ha demandado.
        </p>
        
        <p>
          <button
            class='btn btn-primary'
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobHistory"
          >
            Proyectos
          </button>
          <button
            class='btn btn-primary'
            type="button"
            data-toggle="collapse"
            data-target="#Education"
            aria-expanded="false"
            aria-controls="jobHistory"
          >
            Educacion
          </button>
        </p>
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Intranet Corporativa Maq Tecnomuebles
              <p>
                Desarrolle una intranet corporativa para la empresa Maq Tecnomuebles en la cual pudieran consultar documentos internos, un directorio de empleados, levantar solicitudes de soporte tecnico, dicho proyecto lo desarrolle en Ruby on Rails.
              </p>
            </div>
          </div>
          <div class="collapse" id="Education">
              <div class="card card-block">
                Centro Universitario de Ciencias Economico Administrativas
              </div>
              <div class="card card-block">
                Disecting Ruby on Rails 5 
              </div>
              <div class="card card-block">
                Curso de SQL (basico, intermedio y experto)
              </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>



