<div class="app-card-container">
  <div class="card">
    <h1>About me</h1>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile_image.jpg", width: 250, alt: 'Profile photo', class: 'profile-img' %>
      </div>
      <div class="col-md-8">
    
        <p>Pages#about Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ducimus, delectus minus modi sequi quaerat ratione iste hic debitis quos deleniti suscipit doloremque, quam enim, accusamus pariatur! Quasi, fuga exercitationem!</p>
        <p>Find me in app/views/pages/about.html.erb</p>
    
      </div>
    </div>
  </div>
</div>



